<div class="clearfix container body-content products">
    <h1 class="text-center page-title">PRODUCT</h1>
    <div class="col-md-2"></div>
    <div class="clearfix col-md-8">
        <div class="col-md-6 pull-left">
            <img src="{{ vm.item.Image }}" alt=""/>
        </div>
        <div class="col-md-6 pull-right">
            <h2>{{ vm.item.Name }}</h2>
            <small>{{ vm.item.DateUpDated | date:"yyyy-dd-MM HH':'m" }}</small>

            <div class="text-center">
                <h2 class="price">{{ vm.item.Price }} &euro;</h2>

                <div class="buttons">
                    <a class="btn btn-default" href="/Items"><i class="glyphicon glyphicon-chevron-left"></i> Back to List</a>
                    <a class="btn btn-default" ng-click="vm.addItem(vm.item)" type="button" role="button" href="/Cart">Add to cart<i class="glyphicon glyphicon-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="clearfix container rating-form">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>RATE THIS PRODUCT</h2>

        <form>
            <div class="text-center" ng-controller="itemRatingController">
                <div class="rating" uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating"></div>

                <div class="text-center rating-inputs">
                    <input type="text" class="form-control rating-input" id="clientName" placeholder="Enter your name" Required/>
                    <textarea class="form-control rating-input" placeholder="Write your review" Required></textarea>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="~/scripts/scripts/items.service.js"></script>
<script type="text/javascript" src="~/scripts/scripts/items-list.controller.js"></script>
<script type="text/javascript" src="~/scripts/scripts/items-details.controller.js"></script>
<script type="text/javascript" src="~/scripts/scripts/items-app.js"></script>