<div>
    <p>Product</p>
    <p>{{ vm.item.Name }}</p>
    <p>{{ vm.item.DateUpDated }}</p>
    <p>{{ vm.item.Price }}</p>
    <p>
        <img src="{{ vm.item.Image }}" alt=""/>
    </p>

    <a class="btn btn-default" href="/Items">Back to List</a>
</div>

<script type="text/javascript" src="~/scripts/scripts/items.service.js"></script>
<script type="text/javascript" src="~/scripts/scripts/items-list.controller.js"></script>
<script type="text/javascript" src="~/scripts/scripts/items-details.controller.js"></script>
<script type="text/javascript" src="~/scripts/scripts/items-app.js"></script>