<div class="container body-content products">
    <h1 class="text-center page-title">PRODUCT</h1>
    <div class="col-md-2"></div>
    <div class="clearfix col-md-8">
        <div class="col-md-6 pull-left">
            <img src="{{ vm.item.Image }}" alt=""/>
        </div>
        <div class="col-md-6 pull-right">
            <h2>{{ vm.item.Name }}</h2>
            <small>{{ vm.item.DateUpDated | date:"yyyy-dd-MM HH':'m" }}</small>

            <div class="text-center">
                <h2 class="price">{{ vm.item.Price }} &euro;</h2>

                <div class="buttons">
                    <a class="btn btn-default" href="/Items">Back to List</a>
                    <a class="btn btn-default" ng-click="vm.addItem(vm.item)" type="button" role="button" href="">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/scripts/scripts/items.service.js"></script>
<script type="text/javascript" src="~/scripts/scripts/items-list.controller.js"></script>
<script type="text/javascript" src="~/scripts/scripts/items-details.controller.js"></script>
<script type="text/javascript" src="~/scripts/scripts/items-app.js"></script>