<div ng-app="itemsApp" ng-controller="itemsListController as vm">
    <p>{{ vm.Name }}</p>
    <p>{{ vm.DateUpDated }}</p>
    <p>{{ vm.Price }}</p>
    <p>
        <img src="{{ vm.Image }}" alt=""/>
    </p>
</div> 