<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body ng-app="itemsApp">
    <div class="container body-content products">
        <div class="container">
            <h1 class="text-center page-title">PRODUCTS</h1>

            <div class="clearfix">
                <div class="col-md-4"></div>
                <div class="input-group col-md-4 search-box">
                    <input class="form-control" type="text" placeholder="Search products" ng-model="searchBox" />
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>
            
            <div class="row">
                <div class="col-sm-4" ng-repeat="item in vm.items | orderBy: '-DateUpDated' | filter: searchBox">
                    <div class="thumbnail">
                        <img src="{{ item.Image }}" class="img-responsive" style="width: 100%" alt="Image">
                        <div class="caption">
                            <h3><a href="/Items/{{ item.Id }}">{{ item.Name }}</a>
                            </h3>
                            <small>{{ item.DateUpDated | date:"yyyy-dd-MM HH':'m"}}</small>
                            <div class="text-center">
                                <h2>{{ item.Price }} &euro;</h2>
                                <a class="btn btn-default" ng-click="vm.addItem(item)" type="button" role="button" href="/Cart">Add to cart</a><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




