body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar.navbar-inverse {
    margin-bottom: 0;
    background-color: #0A090C;
    
}

.navbar.navbar-inverse a,
ul.nav.navbar-nav.navbar-right li a {
    color: #F0EDEE;
}

ul.nav.navbar-nav.navbar-right li a:hover {
    color: #829AAC;
}

.jumbotron {
    height: 100vh; /* vh - viewport height */
    background-image: url('/Images/jumbotron-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container.text-center h1 {
    color: #112C41;
    text-transform: uppercase;
}

a.btn.btn-primary {
    color: #112C41;
    background: transparent;
    border-color: #112C41;
    margin-top: 30px;
    font-size: 20px;
    padding: 9px 17px;
    border-radius: 0;
}

a.btn.btn-primary:hover {
    color: white;
    background: #112C41;
}

.btn.btn-default {
    color: #112C41;
    background: transparent;
    border-color: #2C666E;
    border-radius: 0;
}

.btn.btn-default:hover {
    color: white;
    background: #112C41;
}

h2.text-center {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.container.body-content.products {
    margin-top: 20px;
}

.text-center.page-title {
    margin-bottom: 30px;
}

.thumbnail {
    margin-bottom: 25px;
}

.thumbnail h3 a {
    color: #0A090C;
}

.thumbnail h3 a:hover {
    text-decoration: none;
    color: #2C666E;
}

small {
    color: #999;
}

.price {
    margin-top: 50px;
}

.buttons {
    margin-top: 30px;
}

.col-md-6.pull-left img {
    width: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media (min-width: 768px) {
  .navbar.navbar-inverse {
    border-radius: 0;
  }
} 